*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica,sans-serif;
  line-height: 1.7;
  background: #eee;
  color: #333;
}
.adminlink{
  text-decoration: none;
  color: inherit;
}
.error-message{
  width:100%;
  display: inline-block;
  padding: 5px;
  background: red;
  color: white;
  text-align: center;
  margin: 0.5rem 0;
}
.success-message{
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: green;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}
